<div class="container">
  <div class="row">
    <div class="col-3 mt-4 d-flex flex-column">
      <chatlist 
        [chats]="chats" 
        [user]="user"
        style="display:block; height:100%; width:100%;"
        (chatSelected)="onChatSelected($event)"
        >
    </chatlist>
    </div>
    <div class="col-9 p-4 d-flex flex-column">
      <chatbox 
        *ngIf="selectedChat"
        [chat]="selectedChat"
        [user]="user"
        style="display:block; height:100%; width:100%;"
      >
    </chatbox>
    </div>

  </div>
</div>
