<form [formGroup]="createAcc" (ngSubmit)="onSubmit()">
    <label for="artistAlias">Artist Alias:</label><br>
    <input type="text" id="artistAlias" formControlName="artistAlias"><br>
    <label for="phone_num">Phone Number:</label><br>
    <input type="text" id="phone_num" formControlName="phone_num" pattern="[0-9]*" inputmode="numeric"><br>
    <label for="profession">Profession:</label><br>
    <input type="text" id="profession" formControlName="profession"><br>
    <label for="genre">Genre:</label><br>
    <input type="text" id="genre" formControlName="genre"><br>
    <label for="biography">Biography:</label><br>
    <input type="text" id="biography" formControlName="biography"><br>
    <label for="daws">Digital Audio Workspace:</label><br>
    <input type="text" id="daws" formControlName="daws"><br>
    <label for="social_media">Social Media:</label><br>
    <input type="text" id="social_media" formControlName="social_media"><br>
    <button type="submit">Create Profile</button>
</form>