<!-- Vinyl Record -->
<div
class="vinyl-record position-absolute top-50 translate-middle-y rounded-circle d-flex align-items-center justify-content-center"
style="right: 5vh; z-index: 1;"
>
    <div class="vinyl-grooves rounded-circle d-flex align-items-center justify-content-center">
        <div class="vinyl-label rounded-circle bg-light border border-dark"></div>
    </div>
    <track-list-overlay [isVisible]="isVisible" [username]="profileUsername" [isEditable]="isEditable" class="position-absolute"></track-list-overlay>
</div>

