<!-- Header for website -->
<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="d-flex align-items-left">
      <!-- Drop Down Menu -->
      <div class="dropdown">
        <button class="d-flex align-items-center btn btn-dark ms-3" data-bs-toggle="dropdown" aria-expanded="true">
          <ng-icon name="bootstrapListUl" class="me-2 text-white" style="width: 24px; height: 24px;"></ng-icon>
        </button>
        <ul class="dropdown-menu text-small shadow bg-dark"
          style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 34px, 0px);"
          data-popper-placement="bottom-start">
          <li>
            <a class="dropdown-item text-white" routerLink="/feed">Feed</a>
          </li> 
          <li>
            <a class="dropdown-item text-white" routerLink="/chat">Messages</a>
          </li> 
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item text-white" routerLink="/">About</a>
          </li>
        </ul>
      </div>

      <!-- Go to Homepage -->
      <a routerLink="/" class="btn btn-dark align-items-center ms-3">
        <strong>Sync.Eq</strong>
      </a>

    </div>

    <div class="container d-flex align-items-center justify-content-center">



      <!-- Search bar for searching for other profiles -->
      <div class="search-container position-relative mx-auto" style="max-width: 400px; flex: 1;">
        <search-bar></search-bar>
      </div>


      <div class="d-flex align-items-right">
        <!-- Profile Picture for logged in user -->
        <div class="dropdown">
          <a class = "d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
            <img
              src="https://geo-media.beatport.com/image_size/590x404/e9ff1326-8d42-4f9a-aaf6-de59d5c02ced.jpg"
              class="rounded-circle ms-3"
              width="40"
              height="40"
              alt="Profile"
            >
          </a>
          <ul class="dropdown-menu text-small shadow bg-dark">
            <li><a class="dropdown-item text-white btn" (click)="routeToProfile()">Profile</a></li>
            <li><a class="dropdown-item text-white" routerLink="/">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-white" routerLink="/">Logout</a></li>
          </ul>
        </div>
        <!--Login/Logout Button-->
          <app-auth-button></app-auth-button>
      </div>
    </div>
  </div>
</header>