<!-- Header for website -->
<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex align-items-center justify-content-center">
      <!-- Go to Homepage -->
      <a routerLink="/" class="btn btn-dark align-items-center me-3">
        <ng-icon name="bootstrapHouse" class="me-2"></ng-icon>
        Home
      </a>
      <!-- Search bar for searching for other profiles -->
      <div class="search-container position-relative mx-auto" style="max-width: 400px; flex: 1;">
        <input
          type="text"
          class="form-control search-input"
          placeholder="Look for Musicians..."
        >
        <ng-icon name="bootstrapSearch" class="search-icon position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);"></ng-icon>
      </div>
      <!-- Profile Picture for logged in user -->
      <img
        src="https://media.licdn.com/dms/image/v2/D5603AQHOeL3fYFhTZg/profile-displayphoto-crop_800_800/B56ZhTCdBDHUAM-/0/1753739813067?e=1762992000&v=beta&t=LCIPBV_9a5kRZh-5FQrW2iR-Gu1a9BZrELtBG8lQhC4"
        class="rounded-circle ms-3"
        width="40"
        height="40"
        alt="Profile"
      >
    </div>
  </div>
</header>