<!-- Post Card component -->
<!-- Base idea for design
    1) Hold a carousel to scroll through different types of posts
-->
<div class="col">
  <div class="card shadow-sm">
    <div class="card-body">
      <h5 class="card-title"><strong>{{post.title}}</strong></h5>
      <p class="card-text">
        {{ post.author }} - {{ post.createdAt | date : "MM/dd/yy : h:mma" }}
      </p>
      <div class="pb-3">
        <small class="text-body-secondary">
          {{ post.content }}
        </small>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex gap-3">
          <button
            (click)="addLike()"
            type="button"
            class="btn btn-sm btn-outline-secondary"
          >
            Likes : {{ post.likes_usernames.length }}
          </button>
          <button
            (click)="addRepost()"
            type="button"
            class="btn btn-sm btn-outline-secondary"
          >
            Repost : {{ post.reposts_usernames.length }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
