<div id="contacts" class="border-end pe-3 overflow-auto">
  <div class="mb-3 d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <ng-icon class="" style="width:20px; height:20px;"name="bootstrapEnvelope"></ng-icon>
      <h5 class="m-0 ps-1">
        Chats
      </h5>
    </div>
      
    <button class="btn d-flex align-items-right" (click)="openModal()">New Chat</button> 
  </div>

  <div class="list-group" style="flex-grow: 1; overflow-y: auto">
    <button
      *ngFor="let chat of chats"
      class="list-group-item list-group-item-action"
      (click)="selectChat(chat)"
    >
      {{ chat.user1 === user?.username ? chat.user2 : chat.user1 }}
    </button>
  </div>

  <!-- Modal -->
  <div *ngIf="showModal" class="modal fade show d-block" style="background-color: rgba(0,0,0,0.5);">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <create-chat-modal [currentUser]="user" (closed)="closeModal()" (created)="onChatCreated($event)"></create-chat-modal>
    </div>
  </div>
</div>
