<div 
  class="details-panel"
  [class.open]="visible"
>
  <h3 class="panel-title">{{ track?.projectName || 'Untitled' }}</h3>

  <div class="detail-row">
    <span class="label" style="padding-right: 1rem;">File Path:</span>
    <span class="value">{{ track?.filePath }}</span>
  </div>

  <div class="detail-row">
    <span class="label" style="padding-right: 1rem;">Uploaded At:</span>
    <span class="value">{{ track?.createdAt | date: 'short' }}</span>
  </div>

  <!-- BUTTONS -->
  <div class="button-row">
    <button class="action-btn" (click)="downloadTrack()" [disabled]="isDownloading">
      {{ isDownloading ? 'Downloading...' : 'Download' }}
    </button>
    <!-- <button class="action-btn">Listen</button> -->
  </div>
</div>

