<synceq-header />

<button class="btn btn-primary" (click)="openModal()">Create Post</button>

<div class="modal fade show d-block" *ngIf="showModal" style="background-color: rgba(0,0,0,0.5)">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <create-post-modal [user]="{username: 'jomi'}" (closed)="closeModal()"></create-post-modal>
    </div>
  </div>
</div>

<div id="post-carousel" class="carousel slide" data-bs-interval="false">
  <div class="carousel-inner">
    <div
      *ngFor="let post of posts; let i = index"
      class="carousel-item"
      [class.active]="i === 0"
    >
      <div class="d-flex justify-content-center align-items-center p-4">
        <post-card [post]="post" [user]="this.user" />
      </div>
    </div>
  </div>

  <!-- Carousel controls -->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#post-carousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#post-carousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<synceq-footer />
