<div class="d-flex align-items-center justify-content-start">
    <!-- if isTitle, h4, if not smaller -->
    <p *ngIf="!isTitle" class="mb-0 fs-6">{{ inputField || '—' }}</p>
    <h4 *ngIf="isTitle" class="fw-bold mb-0">{{ inputField || '—' }}</h4>
    <button
        class="btn d-flex align-items-center justify-content-center ms-4"
        (click)="switchEdit()"
    >
    <ng-icon *ngIf="!isEditing" name="bootstrapPencil" size="16" />
    <span *ngIf="isEditing" class="ms-1" style="font-size:16px; line-height:16px; display:inline-flex; align-items:center;">Save</span>
    </button>
</div>