/* Adding Global Font via assets/fonts folder */

/* Regular */
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body, html {
  font-family: 'Montserrat', sans-serif !important;
}

/* to change primary color, change --bs-primary */
/* to change primary hover color, change --bs-primary-hover */
:root {
  --bs-primary: #ea1e1e;
  --bs-primary-rgb: 138, 43, 226;
  --bs-primary-hover: #ea1e1ecc;
}

/* color overrides for buttons */
.btn-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--bs-primary-hover) !important;
  border-color: var(--bs-primary-hover) !important;
}

.vinyl-record {
  width: 70vh; /* slightly larger */
  height: 70vh;
  background: radial-gradient(circle at 30% 30%, #000 60%, #111 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
  border: 2px solid #222;
}

.vinyl-grooves {
  width: 100%;
  height: 100%;
  box-shadow:
    0 0 0 2px #222,
    0 0 0 6px #181818,
    0 0 0 10px #222,
    0 0 0 14px #181818,
    0 0 0 18px #222;
}

.vinyl-label {
  width: 25%;
  height: 25%;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}
