/* Adding Global Font via assets/fonts folder */

/* Regular */
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body, html {
  font-family: 'Montserrat', sans-serif !important;
}

/* to change primary color, change --bs-primary */
/* to change primary hover color, change --bs-primary-hover */
:root {
  --bs-primary: #8a2be2;
  --bs-primary-rgb: 138, 43, 226;
  --bs-primary-hover: #7326b3;
}

/* color overrides for buttons */
.btn-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--bs-primary-hover) !important;
  border-color: var(--bs-primary-hover) !important;
}