name: Build and deploy Node.js app to Azure Web App - SyncEQ

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '24.x'

      - name: Generate environment.ts
        run: |
          mkdir -p frontend/src/app/core
          echo "export interface EnvConfig {" > frontend/src/app/core/environment.ts
          echo "  apiUrl: string;" >> frontend/src/app/core/environment.ts
          echo "  auth0Domain: string;" >> frontend/src/app/core/environment.ts
          echo "  auth0ClientId: string;" >> frontend/src/app/core/environment.ts
          echo "}" >> frontend/src/app/core/environment.ts
          echo "" >> frontend/src/app/core/environment.ts
          echo "export let ENV: EnvConfig = {" >> frontend/src/app/core/environment.ts
          echo "  apiUrl: '${{ secrets.API_URL }}'," >> frontend/src/app/core/environment.ts
          echo "  auth0Domain: '${{ secrets.AUTH0_DOMAIN }}'," >> frontend/src/app/core/environment.ts
          echo "  auth0ClientId: '${{ secrets.AUTH0_CLIENT_ID }}'" >> frontend/src/app/core/environment.ts
          echo "};" >> frontend/src/app/core/environment.ts
          echo "" >> frontend/src/app/core/environment.ts
          echo "export function setEnv(config: EnvConfig) {" >> frontend/src/app/core/environment.ts
          echo "  ENV = config;" >> frontend/src/app/core/environment.ts
          echo "};" >> frontend/src/app/core/environment.ts

      - name: npm install, build, and test
        run: |
          cd frontend
          npm install
          npm run build --if-present
          
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: .

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_6FABE516D9754E018039783DDE650D35 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_40B12062250543C0855B7077C13537BA }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_430FA335B5D24E62BC9ED38CCA182536 }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'SyncEQ'
          slot-name: 'Production'
          package: .
